<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">First  interactive clinical Report</a>
    by <a href="http://www.cine-home.fr/">Philippe Remusat</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   study_index_path %></li>
      <li><%= link_to "Main outputs", outputs_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>